body {
  font-family: $font-family;
}

.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;
}

a {
  color: $color-navy;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.select, .button, .text {
  font-family: inherit;
  border-radius: $border-radius;
  border: 0;
  font-weight: bold;
  background-color: #fff;
}

.button {
  display: inline-flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: $finger-size;
  color: white;
  background-color: transparent;

  &-icon {
    justify-content: center;
    color: black;
    padding-left: 0;
    padding-right: 0;
    width: $finger-size;
  }

  &-blue {
    color: white;
    background-color: $color-blue;
  }
}

.text {
  min-height: $finger-size;
  border-radius: $border-radius;
  color: $color-navy;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.select {
  display: inline-block;
  width: 100%;
  color: $color-navy;
  height: $finger-size;
}

.form-item {
  position: relative;
  .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: $color-navy;
  }

  .text {
    padding-left: 40px;
  }

  .select {
    padding-left: 40px;
  }
}